 body,h1,h2,h3,h4,h5,h6,dl,dt,dd,p,ul,li{
 	margin:0;
 	padding:0;
 	}


body{
	min-width: 1019px;
	font-size:15px;
	}
@font-face {
	font-family:"fot";
	src: url("../font/Jewel Hill.ttf");
}
@font-face {
	font-family:"American";
	src: url("../font/American Scribe.ttf");
}
@font-face {
	font-family:"blzw";
	src: url("../font/伯乐油画体.ttf");
}
ol,ul,li{
	list-style:none;
	}

a{
	text-decoration:none;
	display: block;
	}

img{
	border:0;
	vertical-align: middle;
	}
	/*头部*/
.header{
	width: 100%;
	height: 100%;
	/*min-width: 940px;
	min-height: 940px;*/
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	/*background:url(../img/intro_bkg.jpg) ;*/
}
.titl{
	position: absolute;
	width: 950px;
   left: 50%;
   margin-left: -450px;
   height: 58%;
   top: 19%;
}
/*头部标题*/
.titl h1{
	width: 100%;
   height: 169px;
   position: absolute;
   top: 0px;
}
.titl_logo{
	width: 128px;
	position: absolute;
	left: 0px;
	display: inline-block;
   overflow: hidden;
   float: left;
}
.titl_logo2{
	height: 169px;
	margin-left: 120px;
	position: relative;
	display: inline-block;
   overflow: hidden;
   float: left;
}
.titl_logo3{
	position: relative;
	top: 0px;
	width: 718px;
	margin-left: 10px;
	color: #fff;
	font-size: 90px;
	display: inline-block;
   overflow: hidden;
   float: left;
   font-family:"fot";
}
.titl h2{
	position: absolute;
	left: 50%;
	bottom: 125px;
	margin-left: -400px;
	font-size: 50px;
	padding-left: 40px;
	color: #fff;
	font-weight: normal;
	font-family: "fot";
}
/*头部下拉三角*/
.titl h3{
	position: absolute;
	width: 99px;
	height: 98px;
	background: url(../img/pcis.png) no-repeat;
	background-position: bottom;
	left: 50%;
	margin-left: -100px;
	bottom: 0px;
	cursor: pointer;
	transition: .5s;
	border-radius: 100px;
}
.titl h3:hover{
	background-position: top;
}
#bg_img{
	position: fixed;
   width: 100%;
   height: 700px;
   top: 50%;
   left: 0px;
   z-index: -10;
   margin-top: -370px;
}

/*内容*/
.section{
	position: absolute;
   z-index: 1;
   width: 100%;
   height: auto;
   height: 2000px;
   top: 740px;
   background: url(../img/hbj.jpg) no-repeat;
   background-size: 100% 100%;
   /*transition: 1.5s;*/
}
/*导航*/
.nav{
	width: 100%;
   height: 70px;
   position: absolute;
   top: -70px;
   background: rgb(111,159,217);
   /*transition: 1.5s;*/
 	/*position: fixed;
   z-index: 999;*/
}
.list{
	width: 1019px;
   margin: 0 auto;
   height: 100%;
}
.list_home{
	height: 100%;
   position: relative;
   overflow: hidden;
   padding: 0 10px;
   float: left;
   color: #FFFFFF;
   line-height: 70px;
   cursor: pointer;
   text-transform: Capitalize;
   transition: all .3s linear;
}
.nav .list span{
	position: relative;
   display: block;
   height: 100%;
   width: 50px;
}
.list_home .nav_logo{
	width: 50px;
   height: 50px;
   background: url(../img/logo.png) no-repeat;
   top: 50%;
   position: absolute;
   margin: 0 -5px;
   margin-top: -25px;
   transition: all .3s linear;
}
.list_home .nav_up{
	width: 50px;
   height: 50px;
   background: url(../img/logo.png) no-repeat;
   top: 50%;
   position: absolute;
   margin: 0 -5px;
   margin-top: -25px;
   transition: all .3s linear;
   
   background-position: bottom;
   opacity: 0;
}
.list_home .nav_up:hover{	
   opacity: 1;
}
.list li{
	height: 100%;
   position: relative;
   overflow: hidden;
   padding: 0 25px;
   float: left;
   color: #FFFFFF;
   line-height: 70px;
   font-size: 40px;
   cursor: pointer;
   text-transform: Capitalize;
   transition: all .3s linear;
   font-family: 'fot';
}
.list li a{
	color: #FFFFFF;
}
.list li a:hover{
	color:rgb(80,145,205);;
}
/*内容*/
.con{
	padding: 20px 0;
}
.con h1{
	font-family: 'American';
   font-size: 105px;
   line-height: 150px;
   text-align: center;
   text-transform: Uppercase;
   font-weight: 500;
   line-height: 1.1;
   color: inherit;
}
.con h2{
	font-family: 'American';
   font-size: 40px;
   text-align: center;
   font-weight: 500;
   line-height: 1.1;
   color: inherit;
}
.con_a{
	margin: 35px auto;
}
.con_b{
	width: 100%;
	height: 100%;
   position: relative;
   padding-top: 1px;
   margin: 0 auto;
   transform-style: preserve-3d;
}
.con_b img{
	width: 100%;
	height: 650px;
	display: block;
	transition: 2s;
	transform: rotateY(0deg);
}

.prev{
	height: 99px;
   width: 99px;
   display: block;
   background: url(../img/pcis.png) bottom no-repeat;
   position: absolute;
   cursor: pointer;
   top: 50%;
   margin-top: -50px;
   overflow: hidden;
   transition: all .3s linear;
   left: 20px;
   -moz-transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   border-radius: 100px;
}
.prev:hover{
	 left: 10px;
	 background-position: top;
    /*-moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg)*/
}
.prev span,.next span{
	background: url(../img/picy.png) no-repeat;
   display: block;
   width: 99px;
   height: 99px;
}

.next{
	height: 99px;
   width: 99px;
   display: block;
   background: url(../img/pcis.png)bottom no-repeat;
   position: absolute;
   cursor: pointer;
   top: 50%;
   margin-top: -50px;
   overflow: hidden;
   transition: .3s;
   right: 20px;
   border-radius: 100px;
   -moz-transform: rotate(-90deg);
   -webkit-transform: rotate(-90deg);
}
.next:hover{
	 right: 10px;
	 background-position: top;
    /*-moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg)*/
}
.photo{
	width: 100%;
   text-align: center;
   margin: 0 auto;
   position: absolute;
   bottom: 20px;
}
.photo a{
	display: inline-block;
   width: 30px;
   height: 30px;
   margin-right: 8px;
   background: url(../img/yd.png) no-repeat;
   cursor: pointer;
   /*background-position: bottom;*/
}
/*内容二*/
.con2{
	width: 100%;
   overflow: hidden;
}
.uls{
	width: 99999px;
	position: relative;
   left: 0px;
}
.uls li{
	float: left;
}
/*尾部*/
.floor{
	padding: 20px 0;
	background: url(../img/hbj2.jpg) repeat;
	background-size: 100% 100%; 
	overflow: hidden; 	
}
.floor h1{
	font-family: 'American';
   font-size: 105px;
   line-height: 150px;
   text-align: center;
   text-transform: Uppercase;
   color: #FFF;
}
.floor h2{
	 font-family: 'American';
    font-size: 40px;
    text-align: center;
    color: #FFF;
}

.practice{
	 width: 2000px;
    margin: 40px auto;
    position: relative;
    height: 400px;
    overflow: hidden;   
}
.practice li{
	height: 400px;
	width: 140px;
   cursor: pointer;
   /*width: 325px;*/
   overflow: visible;
   float: left;
   transition: 1s;
   background: #000;
   position: relative;
   top: 0;
   left: 0;
   
}
.practice li a{
	width: 200px;
	height: 300px;
	color: #fff;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	font-family: 'blzw';
	position: absolute;
	left: -50px;
	top: 45px;		
}
.practice li img{
	width: 500px;
	height: 100%;
}
.practice li:hover{
	width: 500px;
	border-right: 2px solid #333333;
}
